* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fafafa; 
    margin: 0; }

.header {
    position: fixed;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.801218);
    align-items: center;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    display: flex;

    .logo {
        margin-left: 3.5em;
        margin-right: 2em;
        height: 38px;
    }

    .nav-bar-list {
        list-style:none;
        display: flex;

        .nav-link {
            
            text-decoration: none;
            display: inline-block;
            padding: 10px;
            color: #fafafa;
            height: 38px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

        }
    }
}

.hero {
    background-image: url(../assets/portada.png);
    min-height: 100vh;
    background-position: top;
    background-size: cover;
    min-width: 100%;
    
    .content {
        padding-top: 12em;
        padding-left: 4.5em;
        width: 100vw;
        max-width: 40em;

        .hero-title {
            font-size: 1.4em;
            margin-bottom: 16px;
            font-weight: bold;
        }

        .hero-subtitle {
            font-size: 6em;
            font-weight: bold;
            max-width: 600px;
            line-height: 0.95em;
        }
        
        .buttons-hero{
            background-color: rgba(154, 152, 152, 0.5);
            border-radius: 8px;
            margin-right: 22px;
            text-decoration: none;
            color: #fafafa;
            font-size: 1.2em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 3em;
            width: 9em;
            font-weight: 300;
        }

        .hero-text {
            font-size: 1.3em;
            margin-top: 19px;
        }

        .hero-paragraph{
            font-size: 1.4em;
            margin-top: 18px;
            line-height: 1.2em;
            font-weight: lighter;
        }
    }

}

.images-wrapper {
    background-color: #000000;
    padding-left: 4.5em;
    width: 100%;

       .series-title {
        font-size: 1.3em;
        padding-top: 0.5em;
        padding-bottom: 0.8em;
        
    }

        .series-carrousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar { 
            width: 0;
        }
      
        
        .series-img {
            margin-right: 10px;
            scroll-snap-align: center;
        }
        
    }

}

.images-wrapper2 {
    background-color: #000000;
    padding-left: 4.5em;
    width: 100%;

    .continued-title {
        font-size: 1.3em;
        padding-top: 0.5em;
        padding-bottom: 0.8em;
     }

   .continued-carrousel {
        display:flex;
        
        .continued-img {
        margin-right: 10px;
    }

  }

}
     /*
     .line {
         background-color: #999999;
         width: 10em;
         height: 0.3em;
         margin-left: 5em;
         
         margin-right: 5em;
         
        .line-progress {
            height: 100%;
            background-color: #E50914;
           
        }

        
     } */

.images-wrapper3 {
    background-color: #000000;
    width: 100%;
    

    .added-carrousel {
        display:flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar { 
            width: 0;
        }


    }

    .added-title {
        font-size: 1.3em;
        padding-top: 0.5em;
        padding-bottom: 0.8em;
    }
    .added-img {
        margin-right: 10px;
        scroll-snap-align: center;
    }

}


